.SlideShow {
    max-height: 400px;
    width: 100%;
}

.slidesWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;

    img {
        height: 150px;
        padding: 10px
    }

}
   
