
.logementBody {
    padding: 30px;
}

.logement-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media screen and (max-width: 1023.98px){
    .logement-details {
        flex-direction: column;
    }
}

.hostLogement {    
    display: flex; 
    align-items: center;
    
    .hostLogementName {
        margin: 0;
        font-size: 1em; 
        margin-right: 1em;
        display: inline-block;
        width: 6.25em;
        text-align: right;
    }
    
    img {
        border-radius: 50%;
        width: 1.88em; 
        height: 1.88em; 
    }
}  



//tags
.tagLogement {
    display: flex;
    //min-height: 50px;
    .badge {
        padding: 10px;
        margin-right: 2%;
        border-radius: 20px;
        text-align: center;
        align-content: center;
    }
}

//rating
.starLogement {
    .fa-star-active {
    }

    .fa-star-inactive {
        color: lightgray;
    }

}



//collapse

.collapseWrapperLogement {
    display: flex;
    flex-direction: row;
    padding-top : 10px;
    justify-content: space-between;
    .collapse-list-style-none {
        list-style: none;
    }
}

.first-block {
    display: flex;
    flex-direction: column;
}

.second-block {
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    flex-direction: column-reverse;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 20px;

}

@media screen and (max-width: 1023.98px){
    .second-block {
        flex-direction: row;
    }
}